<nav class="navbar navbar-expand-sm bg-dark navbar-dark py-3">
    <div class="container-fluid">
        <a class="navbar-brand text-light" href="/" style="font-size: 1.5em;">Home</a>
        <a class="navbar-brand text-light ml-1" href="/data-import" style="font-size: 1.5em;">Import Data</a>
        <form class="d-flex ml-auto mr-auto mt-1" role="search" action="/search" method="GET">
            <input class="form-control me-2" type="search" placeholder="Type name or genre" aria-label="Search" name="searchText">
            <button class="btn btn-outline-light" type="submit">Search</button>
        </form>
    </div>
    <a href="/user/profile">
       <i class="bi bi-person-circle" style="color: white; font-size: 36px; margin: 0 10px;"></i>
    </a>
</nav>